        <div>
        <h3>Add Resource:</h3>        
        <label for="resource_id">Id: </label>
        <input type="number" placeholder="1010" name="resource_id" required/><br>
        <label for="resource_name">Name: </label>
        <input type="string" placeholder="Resource name" name="resource_name" required/><br>
        <label for="resource_type">Type: </label>
        <input type="radio" value="Animal" name="resource_type" checked/>
        <label for="resource_name">Animal</label>
        <input type="radio" value="Thing" name="resource_type"/>
        <label for="resource_name">Thing</label>
        <input type="radio" value="Plant" name="resource_type"/>
        <label for="resource_name">Plant</label>
        <input type="radio" value="Metal" name="resource_type"/>
        <label for="resource_name">Metal</label>
        <input type="radio" value="Other" name="resource_type"/>
        <label for="resource_name">Other</label><br>
        <label for="is_endangered">Endangered? </label>
        <input type="radio" value="True" name="is_endangered"/>
        <label for="resource_name">True</label>
        <input type="radio" value="False" name="is_endangered" checked/>
        <label for="resource_name">False</label><br>
        </div>
